<section class="vh-95 gradient-custom">
    <div class="box">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card bg-dark text-white" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">
                                <div class="mb-md-5 mt-md-4 pb-5">
                                    <h2 class="fw-bold mb-2 text-uppercase">SignUp for Admin</h2>
                                    <p class="text-white-50 mb-5">Please enter your details</p>
                                    <div class="form-outline form-white mb-4">
                                        <input type="text" id="typeid1" class="form-control form-control-lg" placeholder="Username" [(ngModel)]="name1" required/>
                                      </div>
                                      <div class="form-outline form-white mb-4">
                                        <input type="email" id="typeEmailX1" class="form-control form-control-lg" placeholder="Email" [(ngModel)]="email1" required/>
                                      </div>
                                      <div class="form-outline form-white mb-4">
                                        <input type="password" id="typePasswordX1" class="form-control form-control-lg" placeholder="Password" [(ngModel)]="password1" required/>
                                      </div>
                                      <div class="form-outline form-white mb-4">
                                        <input type="password" id="typePasswordX2" class="form-control form-control-lg" placeholder="Confirm Password" [(ngModel)]="password2" required/>
                                      </div>
                                      <button class="btn btn-outline-light btn-lg px-5" (click)="onSubmit()" type="submit" [disabled]="!formIsValid()">SignUp</button>                                      
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>